*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@import url(https://db.onlinewebfonts.com/c/6397e4247279c9471c0eb0dae9199e5d?family=Crayon+Hand+Bold+W00+Bold);

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: end;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.head p{
    cursor: default;
    color: rgb(24, 49, 83);
    font-style: italic;
    font-weight: bold;font-family: "Verveine W01 Regular";
    width: 80%;
    font-size: 1.8rem;
    text-align: center;
}

.head span{
    color: rgb(24, 49, 83);
}

.head-text{
    cursor: default;
    padding: 1rem;
    color: gray;
}

.head-text span{
    color:rgb(24, 49, 83);
    font-size: 1.2rem;
    font-weight: bold;
    font-weight: bold;font-family: "Verveine W01 Regular";
}

input{
    border: 1px solid rgb(24, 49, 83) !important;
    padding: .7rem;
    border-radius: 10px;
    margin-right: 2rem;

}

.nav-var{
    width: 80%;
    display: flex;
}

a{
    width: 20%;
    padding: 1rem;
}

.b1{
    border-radius: 0 0 5px 5px;
    border-top: 3px solid rgb(24, 49, 83);
    cursor: pointer;
    transition: .3s;
}

.b1:hover{
    background-color: rgb(24, 49, 83);
}

.b2{
    border-radius: 0 0 5px 5px;
    border-top: 3px solid cadetblue;
    cursor: pointer;
}

.b2:hover{
    background-color: cadetblue;
    transition: .3s;
}

.b3{
    border-radius: 0 0 5px 5px;
    border-top: 3px solid crimson;
    cursor: pointer;
    transition: .3s;
 }

 .b3:hover{
    background-color: crimson;
 }

.b4{
    border-radius: 0 0 5px 5px;
    transition: .3s;
    border-top: 3px solid rgb(0, 175, 175);
    cursor: pointer;
}

.b4:hover{
    background-color: rgb(0, 175, 175);
}

.b5{
    border-radius: 0 0 5px 5px;
    border-top: 3px solid yellow;
    cursor: pointer;
    transition:.3s;
}

.b5:hover{
    background-color:yellow;
}


section{
    display: flex;
    width: 80%;
}

section > aside{
    width: 40%;
    margin: 2rem;
}

section > aside > img{
    width: 100%;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    margin: 2rem;
}

.container > div{
    width: 80%;
    height: 2rem;
    display: flex;
    flex-direction: column;
}

.container > div > label > span{
    color: crimson;
}


.container > div > progress{
    width: 100%;
    height: 3PX;
    border-radius: 10px;
    background: #000d35;
}





#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    margin: 2rem;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}


.main > .PROJECT{
    width: 42%;
    border-radius: 1rem;
    background-color: #000d35;
    color: aliceblue;
}

.main > .PROJECT > a{
    color: blue;
}

.main > .PROJECT > h3, p{
    margin: .5rem;
}

.PROJECT > img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
 }


 .container-routines{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    margin-bottom: 2rem;
 }

 .image-routines{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-around;
 }

.image-routines > div{
    max-width: 45%;
    border: solid 2px #000d35;
    border-radius: 0 0 21% 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .image-routines > div > img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 1rem;
    border-radius: 0 0 20% 20%;
 }


 .cont{
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
 }


 .cont > p{
    display: flex;
    width: 75%;
 }

span{
    color: aqua;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000d35;
    color: white;
    width: 100%;
}

footer > .footer-icons{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer > .footer-icons > a{
    color: white;
}

h2,h3{
    text-transform: uppercase;
}

@media  (max-width: 500px){


    
    header{
        width: 100%;
    }
    
    .nav-var{
        width: 100%;
    }

 section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 section > aside{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }



}

@media  (min-width: 501px) and (max-width: 959px){
    
    section > aside{
        width: 50%;
        margin: 2rem;
    }

}